<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS}  [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="pl.touk" level="debug" />
  <logger name="com.github.tomakehurst.wiremock" level="debug" />

  <logger name="org.codenarc" level="debug"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>